.button {
  @include defaultHover;
  @include flexCenter;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: $color-accent;
  color: white;
  padding: 13px 24px;
  cursor: url('../../assets/icons/icon_cursor.svg'), auto;

  &:disabled {
    background-color: $color-disabled;
    cursor: default;
  }

  &_icon {
    margin-right: 8px;
  }
}
