.input {
  height: 50px;
  padding: 16px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: $color-background-secondary;
  outline: none;
  transition: border 0.2s ease;

  &::placeholder{
    color: $color-text-dark-tertiary;
    font-size: 15px;
    font-family: $family-light;
  }

  &--focused {
    border-color: $color-accent;
  }
}
