.modal {
  @include flexCenter;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#454A63, 0.8);
  z-index: 999;

  &--closed {
    display: none;
  }

  &--opened {
    display: flex;
  }
}
