.note {
  max-width: 250px;
  overflow: hidden;
  height: 110px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 20px;
  cursor: url('../../assets/icons/icon_cursor.svg'), auto;

  &:hover {
    & .note_icon {
      transition: opacity 0.2s ease;
      opacity: 1;
    }
  }

  &_title {
    display: inline-block;
    font-size: 16px;
    color: $color-text-dark;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &_sub-title {
    display: inline-block;
    font-size: 13px;
    color: $color-text-dark-secondary;
  }

  &_sub-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_icon {
    opacity: 0;
  }
}
