.notes-page {
  position: relative;
  height: 100%;
  background-color: $color-background-secondary;

  &_note-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
}
