$color-accent: #8ADD37;
$color-disabled: #7a7a7a;
$color-text-dark: #333333;
$color-text-comment: #70758F;
$color-text-dark-lighten: #CCCCCC;
$color-text-dark-secondary: #A1A4B5;
$color-text-dark-tertiary: #888888;
$color-background-secondary: #F8F8F8;
$color-underline: #EDEEF2;
