@mixin defaultHover {
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.8;
  }
}

@mixin ellipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
